.idea/
ScriptableBase.sln
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Temp/
obj/
Library/

Assets/Data.meta
Assets/Data/
Assets/Plugins.meta
Assets/Plugins/
Assets/Scenes.meta
Assets/Scenes/
Assets/Scripts/Test/
ScriptableCore.csproj
ScriptableCoreEditor.csproj
Assets/Scripts/Test.meta
ScriptableBase.sln.DotSettings.user
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/InputManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/QualitySettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/TagManager.asset
ProjectSettings/AudioManager.asset
