# Assemblies and stuff
ScriptableBase.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
ScriptableCore.csproj
ScriptableCoreEditor.csproj
Sample.csproj
ScriptableBase.sln.DotSettings.user

# Unity
Temp/
obj/
Library/

# Unchanged project settings
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/InputManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/QualitySettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/TagManager.asset
ProjectSettings/AudioManager.asset
ProjectSettings/NetworkManager.asset

# Rider
.idea/
Assets/Plugins.meta
Assets/Plugins/


